.about-content {
  display: flex;
  align-content: flex-start;
  justify-content: space-evenly;
  width: 90vw;
  height: 90vh;
  color: var(--text-color);
}

.about-text {
  display: flex;
  max-width: 50vw;
  align-items: flex-start;
  flex-direction: column;
  color: var(--text-color);
  font-size: var(--fs-small);
  line-height: 3rem;

}

.graph-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70rem;
  height: 70rem;
}
  
  
  
  

