.skill-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: var(--content-width);
  margin-top: 5vh;
  border-radius: 16px;
  background: var(--grey-80);
  z-index: 1;
}

.glow-container {  
  height: 100%;
  width: 100%;
  background: radial-gradient(500px circle at 300px 300px,var(--grey-70),transparent);
  border: var(--border-width) solid var(--elevation-3);
}

.skill-container h1 {
  text-align: center;
  background: transparent;
}

.skill-wrapper {
  padding: 0 3vw 3vw 3vw;
}

.skill-bar {
  width: 80vw;
  height: 5vh;
  background: linear-gradient(to right,var(--primary-lightest), var(--primary-light), var(--primary-dark), var(--primary-darkest));
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.skill-bar p {
  margin-right: 2rem;
}
