.skill-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: var(--medium-content-width);
  margin-top: 5vh;
  border-radius: var(--border-radius);
  z-index: 1;
}


.skill-container h1 {
  text-align: center;
  background: transparent;
  border-radius: var(--border-radius);

}

.skill-wrapper {
  padding: 0 3vw 3vw 3vw;
}

.skill-bar {
  width: 80vw;
  height: 5vh;
  background: linear-gradient(to right,var(--primary-lightest), var(--primary-light), var(--primary-dark), var(--primary-darkest));
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.skill-bar p {
  margin-right: 2rem;
}
