.tech-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: var(--content-width);
  margin-top: 5vh;
  border: var(--border-width) solid var(--grey-80);
  border-radius: 16px;
  background: var(--grey-100);
}

.tech-container h1 {
  text-align: center;
}

.tech-wrapper {
  padding: 0 3vw 3vw 3vw;
}

.tech-bar {
  width: 80vw;
  height: 5vh;
  background: linear-gradient(to right,var(--primary-lightest), var(--primary-light), var(--primary-dark), var(--primary-darkest));
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tech-bar p {
  margin-right: 1vw;
}
