.tech-container {
  display: flex;
  flex-direction: column;
  width: var(--content-width);
  margin-top: 5vh;
  border: var(--border-width) solid var(--grey-80);
  border-radius: 16px;
  background: var(--grey-80);
  justify-content: space-between; 
}

.glow-container {  
  height: 100%;
  width: 100%;
  background: radial-gradient(500px circle at 300px 300px,var(--grey-70),transparent);
  border: var(--border-width) solid var(--elevation-3);
  border-radius: var(--border-radius);
}

.tech-container h1 {
  text-align: center;
}

.tech-wrapper {
  display: flex; 
  list-style: none;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 5vh;
}

.tech-card {
  display: flex;
  flex-direction: column;
  background: hsla(0,0%,100%,.035);
  box-shadow: inset 6px 84px 79px -40px hsla(0,0%,100%,.025),inset 0 -4px 1px -3px hsla(0,0%,100%,.25),inset 0 4px 1px -3px hsla(0,0%,100%,.25);
  border-radius: var(--border-radius);
}

.tech-card-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech-card-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-top: var(--lines) solid var(--grey-80);
  white-space: normal;
  background-color: var(--grey-20);
  color: var(--grey-70);
  height: 40%;
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.tech-card-text h3 {
  text-align: center;
}

.tech-icon {
  display: flex;
  font-size: calc(var(--fs-huge)*2);
}

@media(min-width: 320px){
  .tech-card {
    min-width: 10rem;
    min-height: 17rem;
    margin: 0 20px 0 0;
  }

  .tech-card-top {
    height: 10rem;
  }

  .tech-card-text {
    padding: 0 1rem 0 1rem;
    font-size: var(--fs-small);
  }

  .tech-card-text h3 {
    text-align: center;
    padding: 0.05rem 0.1rem 0.05rem 0.1rem;
  }

  .tech-icon {
    font-size: calc(var(--fs-huge));
  }
}

@media(min-width: 480px){
  .tech-card {
    min-width: 10rem;
    min-height: 17rem;
    margin: 0 20px 0 0;
  }

  .tech-card-top {
    height: 10rem;
  }

  .tech-card-text {
    padding: 0 1rem 0 1rem;
    font-size: var(--fs-small);
  }

  .tech-card-text h3 {
    text-align: center;
    padding: 0.05rem 0.1rem 0.05rem 0.1rem;
  }

  .tech-icon {
    font-size: calc(var(--fs-huge));
  }
}

@media(min-width: 768px){
  .tech-card {
    min-width: 10rem;
    min-height: 17rem;
    margin: 0 20px 0 0;
  }

  .tech-card-top {
    height: 10rem;
  }

  .tech-card-text {
    padding: 0 1rem 0 1rem;
    font-size: var(--fs-small);
  }

  .tech-card-text h3 {
    text-align: center;
    padding: 0.05rem 0.1rem 0.05rem 0.1rem;
  }

  .tech-icon {
    font-size: calc(var(--fs-huge));
  }

}

@media(min-width: 1024px){
  .tech-card {
    min-width: 15rem;
    min-height: 25rem;
    margin: 0 20px 0 0;
  }

  .tech-card-top {
    height: 15rem;
  }

  .tech-card-text {
    padding: 0 1rem 0 1rem;
  }

  .tech-card-text h3 {
    text-align: center;
    padding: 0.05rem 0.1rem 0.05rem 0.1rem;
  }

  .tech-icon {
    font-size: calc(var(--fs-huge)*1.5);
  }
}

@media(min-width: 1200px){
  .tech-card {
    min-width: 15rem;
    min-height: 25rem;
    margin: 0 20px 0 0;
  }

  .tech-card-top {
    height: 15rem;
  }

  .tech-card-text {
    padding: 0 1rem 0 1rem;
  }

  .tech-card-text h3 {
    text-align: center;
    padding: 0.05rem 0.1rem 0.05rem 0.1rem;
  }

  .tech-icon {
    font-size: calc(var(--fs-huge)*1.5);
  }
}
