header {
    top: 0;
    left:0;
    height: 10vh;
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    font-family: SuissIntlMono-Bold;
    opacity: 0.95;
    z-index: 10;
}

.nav-container {
    display: flex;
    align-items: center;
    margin-right: 5vw;
    gap: 2vw;
}

.header-logo {
    font-size: var(--fs-small);
    list-style-type: none;
    font-weight: 900;
    margin-left: 5vw;
    color: var(--light);
    text-decoration: none;
}

.header-nav {
    align-self: center;
    margin-right: 5vw;
}

.nav-list {
    list-style: none;
    position: relative;
    outline: none;
    text-decoration: none;
    font-size: var(--fs-small);
    font-weight: 900;
    color: var(--light);
}

.nav-link {
    position: relative;
    outline: none;
    text-decoration: none;
    font-size: var(--fs-small);
    font-weight: 900;
    color: var(--light);
}

.underline {
    position: absolute;
    bottom: -0.25rem;
    left: 0;
    right: 0;
    height: 0.25rem;
    background: var(--accent-1);
}

.selected {
    color: white;
}
