.header-container {
    top: 0;
    left:0;
    height: 10vh;
    display: flex;
    width: 100vw;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    font-family: SuisseIntlMono-Regular;
    z-index: 10;
    background-color: var(--darker);
    backdrop-filter: blur(10px);
    font-size: var(--fs-normal);
}

.logo-background {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-logo {
    padding: 1vw 1vw 1vw 1vw; 
    font-family: 'SuisseIntlMono-Bold';
    color: var(--light);
}

.logo-background {
    margin-left: var(--side-margin);
}

.header-container h1{
    text-align: left;
}
