header {
    top: 0;
    left:0;
    height: 10vh;
    display: flex;
    width: 100vw;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    font-family: SuissIntlMono-Bold;
    z-index: 10;
    background-color: var(--dark);
    font-size: var(--fs-normal);
}

.nav-container {
    display: flex;
    align-items: center;
    margin-right: 5vw;
    gap: 2vw;
}
.logo-background {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: var(--fs-);
    height: var(--fs-big);
    margin-left: 5vw;
    background-color: var(--accent-2);
    box-shadow: var(--box-shadow);
}

.header-logo {
    height: 0.01vw;
    padding: 1vw 1vw 1vw 1vw; 
    font-family: 'BulkyPixel-Regular';
    color: var(--dark);
}

.header-nav {
    align-self: center;
    margin-right: 5vw;
}

.nav-list {
    list-style: none;
    position: relative;
    outline: none;
    text-decoration: none;
    font-weight: 900;
    color: var(--light);
}

.nav-link {
    position: relative;
    outline: none;
    font-family: 'BulkyPixel-Regular';
    text-decoration: none;
    font-weight: 900;
    color: var(--light);
}

.underline {
    position: absolute;
    bottom: -0.25rem;
    left: 0;
    right: 0;
    height: 0.25vw;
    background: var(--accent-2);
}

.selected {
    color: white;
}
