.container {
  display: flex;
  flex-direction: column;
  top: 10vh;
  gap: 2vh;
  padding-top: 15vh;
}

.nav-item {
  text-decoration: none;
  font-size: 7vh;
  margin-right: var(--side-margin);
  text-align: right;
}

aside {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--grey-80);
}

.btn-container {
  position: absolute;
  z-index: 10;
  top: 0;
  right: var(--side-margin);
  bottom: 0;
  cursor: pointer;
  background-color: transparent; 
  border: none;
}
