.container {
  display: flex;
  flex-direction: column;
  top: 10vh;
  gap: 2vh;
  padding-top: 15vh;
}

.nav-item {
  text-decoration: none;
  font-size: 7vh;
  margin-right: var(--side-margin);
  text-align: right;
}

aside {
  background-color: var(--darker);
  position: absolute;
  top: 0;
  right: 0;
}

button {
  cursor: pointer;
  margin: 1.25rem;
  background-color: transparent; 
  border: none;
}

.btn-container {
  position: fixed;
  z-index: 10;
  top: 0;
  right: var(--side-margin);
}
