.nav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: var(--side-margin);
    border-radius: var(--btn-radius);
    border: var(--border-width) solid var(--border-color);
    background: var(--elevation2);
    height: 70%;
    padding:0 3rem 0 3rem;

}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding: 0;
}

.nav-list {
    list-style: none;
    position: relative;
    color: var(--light);
}

.nav-link {
    text-decoration: none;
    font-family: 'SuisseIntlMono-Bold';
    font-size: var(--fs-small);
}

.underline {
    position: absolute;
    bottom: -0.1rem;
    left: 0;
    right: 0;
    height: 0.1rem;
    background: var(--primary-lightest);
}

.selected {
    color: white;
}


