.social-bar {
    display: flex;
    flex-direction: column;
    position: fixed; 
    gap: 2rem;
    margin-left: 2rem;
    align-items: baseline;
  }
  
.social-icon {
    color: var(--text-color);
    font-size: 1.2rem;
  }
