.contact-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: flex-start;
}

.say-hello-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 0.5rem 0.5rem;
    background: var(--dark);
    border: var(--accent-1) solid;
}



