.marquee-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5rem;
    width: 100%;
    height: calc(var(--fs-huge)*1.5);
    overflow: hidden;
    background: var(--middle);
}

.scrolling-text {
    animation: marquee 30s linear infinite;
    font-size: var(--fs-huge);
    text-align: center;
    font-family: 'BulkyPixel-Regular';
}

@keyframes marquee {
    0%   { 
        transform: translateX(0); 
    }
    100% { 
        transform: translateX(calc(-100% - 5%)); 
    }
}

@media(max-width: 320px){
    .marquee-container {
            height: 30vw;
    }
}

@media(min-width: 480px){
    .marquee-container {
            height: 25vw;
    }
}

@media(min-width: 768px){
    .marquee-container {
            height: 25vw;
    }
}

@media(min-width: 1024px){
    .marquee-container {
            height: 25vw;
    }
}

@media(min-width: 1200px){
    .marquee-container {
            height: 15vw;
    }
}
