.social {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.item-wrapper {
    display: flex;
    border: var(--lines) var(--text-color) solid; 
    align-items: center;
    justify-content: flex-start;
    user-select: none;
}
  
.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-color);
    color: var(--darker);
    margin-right: 1.5rem;
    height: 100%;
}

@media(min-width: 320px){
    .social {
        width: 80vw;
        gap: 10vw;
    }

    .item-wrapper {
        width: 80vw;
        height: 5vh;
    }

    .social-icon {
        width: 15vw;
        font-size: var(--fs-big);
    }
}

@media(min-width: 480px){
    .social {
        width: 80vw;
        gap: 5vw;
        column-gap: 5vw;
    }

    .item-wrapper {
        width: 35vw;
        height: 5vh;
    }

    .social-icon {
        width: 10vw;
        font-size: var(--fs-normal);
    }
}

@media(min-width: 768px){
    .social {
        width: 60vw;
        gap: 5vw;

    }

    .item-wrapper {
        width: 25vw;
        height: 5vh;
    }

    .social-icon {
        width: 6vw;
        font-size: var(--fs-normal);
    }
}

@media(min-width: 1024px){
    .social {
        width: 60vw;
        gap: 2.5vw;
    }

    .item-wrapper {
        width: 26vw;
        height: 5vh;
    }
    
    .social-icon {
        width: 5vw;
        font-size: var(--fs-medium);
    }
}

@media(min-width: 1200px){
    .social {
        width: 60vw;
        column-gap: 2.5vw;
        gap: 2.5vw;
    }

    .item-wrapper {
        width: 24vw;
        height: 10vh;
    }

    .social-icon {
        width: 4vw;
        font-size: var(--fs-medium);
    }
}
