.home-text {
    display: flex;
    flex-direction: column;
    font-size: var(--fs-normal);
    margin: 4rem 4rem 4rem 4rem;
    width: 100%;
    background-color: transparent;
}

.prompt {
    display: flex;
    font-weight: bold;
    margin-top: 2rem;
    line-height: 6rem;
}

.triangle {
    border-left: var(--fs-normal) solid var(--accent-1);
    border-bottom: var(--fs-normal) solid transparent;
    border-top: var(--fs-normal) solid transparent; 
}

.prompt-text {
    display: flex;
    background: var(--accent-1);
    padding: 0 2rem 0 2rem ;
}

.command {
    margin-left: 2rem;
}

.response {
    margin: 3rem 2rem;

}



