.home-content {
    display: flex;
    flex-direction: column;
}

.terminal {
    background: var(--light);
    justify-content: center;
    align-items: center;
    font-size: var(--fs-medium);
    box-shadow: var(--box-shadow);
    width: var(--content-width);
}

.terminal-bar {
    display: flex;
    justify-self: flex-start;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--middle);
    width: 100%;
    height: calc(var(--fs-medium)*1.5);
}

.dot-container {
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin-right: 1vw;
}

.dot {
    border-radius: 50%;
    background: var(--light);
    width: 1.5vw;
    height: 1.5vw; 
}

.terminal-content {
    display: flex;
    flex-direction: column;
    padding: var(--text-pad);
    font-family: "SuisseIntlMono-Regular";
}

.prompt {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    text-align: left;
    font-size: var(--fs-big);
    line-height: 1.2;

}

.triangle {
    border-left: var(--fs-medium) solid var(--accent-2);
    border-bottom: var(--fs-medium) solid transparent;
    border-top: var(--fs-medium) solid transparent;
}

.placeholder {
    width: 1rem;
    background: transparent;
}

.prompt-text {
    display: flex;
    white-space: nowrap;
    background: var(--accent-2);
    color: var(--darker);
    font-weight: 900;
    padding: 0.5vw;
    text-align: center;
    line-height: var(--normal);
}


