.prompt-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 1.5;
}

.prompt {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.triangle {
    border-left: var(--fs-medium) solid var(--primary);
    border-bottom: var(--fs-medium) solid transparent;
    border-top: var(--fs-medium) solid transparent;
}

.prompt-text {
    white-space: nowrap;
    background: var(--primary);
    font-size: var(--fs-medium);
    font-weight: 900;
    line-height: 1.3; 
}
