.footer {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    width: 100%;
    align-items: flex-end;
    background-color: var(--bg-dark);
}

.copy-right {
    margin-right: 10vh;
    margin-top: 1vh;
    position:sticky;
    color: var(--text-color);
    font-size: var(--fs-tiny);
}