.footer {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    width: 100%;
    align-items: flex-end;
    background-color: #383340;
}

.copy-right {
    margin-right: 10vh;
    margin-top: 1vh;
    position:sticky;
    color: #383340;
    font-size: 0.8rem;
}