.project-container {
    display: flex;
    align-items: center;
    background-color: var(--bg-dark);
    width: 100vw;
    height: 100vh;
}

.sidebar-left {
    display: flex;
    width: 5vw;
    background-color: var(--bg-dark);

}

.content {
    display: flex;
    height: 90vh;
    background: var(--bg-darker);
}

.project-content-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90vw;
    height: 90vh;
}

.sidebar-right {
    display: flex;
    align-items: center;
    width: 5vw;
    fill: var(--bg-dark);    
    background-color: var(--bg-dark);

}




