.black-layout {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: flex-start;
    background-color: #383340;
    width: 100vw;
    height: 100vh;
}

.black-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.black-sidebar {
    display: flex;
    align-items: center;
    width: 5vw;
    height: 80vh;
    fill: #383340;
}

.black-content-box {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    display: flex;
    width: 90vw;
    height: 80vh;
    background-color: #0D0D0D;
    color: #D9D9D9;
}







