.black-layout {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: flex-start;
    background-color: var(--bg-dark);
    width: 100vw;
    height: 100vh;
}

.black-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.black-sidebar {
    display: flex;
    align-items: center;
    width: 5vw;
    height: 80vh;
    fill: var(--bg-dark);
}

.black-content-box {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    display: flex;
    width: 90vw;
    height: 80vh;
    background-color: var(--bg-darker);
    color: var(--text-color);
}







