.layout {
    display: flex;
    flex-direction: column;
    background-color: #D3CBBD;
    width: 100vw;
    height: 100vh;
}

.header {
    height: 8%;
    width: 100%;
}

.content {
    display: flex;
    align-items: center;
}
.sidebar {
    width: 5vw;
}

.content-box-left {
    width: 45vw;
    height: 84vh;
    background-color: #456F74; 
    color: black;
}

.content-box-right {
    width: 45vw;
    height: 84vh;
    background-color: #EB5937;
    color: black;
}

.footer {
    height: auto;
    width: 100%;

}
