.split-yellow-layout {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-dark);
    width: 100vw;
    height: 100vh;
    
}

.content {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.sidebar {
    display: flex;
    align-items: center;
    width: 5vw;
    height: 80vh;
    fill: var(--bg-dark);
}

.content-box-left {
    display: flex;
    flex-wrap: wrap;
    border-bottom-left-radius: var(--border-radius);
    width: 30vw;
    height: 80vh;
    background-color: var(--col-accent-2); 
    color: var(--bg-dark);

}

.content-box-right {
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    height: 80vh;
    border-bottom-right-radius: var(--border-radius);
    background-color: var(--bg-darker);
    color: var(--text-color);
}

