header {
    top: 0;
    left:0;
    height: 10vh;
    display: flex;
    width: 100%;
    background: var(--darker);
    position: fixed;
    align-items: center;
    justify-content: space-between;
    font-family: SuissIntlMono-Bold;
    opacity: 0.95;
}

.header-logo {
    font-size: var(--fs-small);
    list-style-type: none;
    font-weight: 900;
    margin-left: 5vw;
    color: var(--light);
    text-decoration: none;
}
.nav-container {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background: var(--darker);
    border-radius: 8px;
    width: fit-content;
    gap: 32px;
}

.header-nav {
    align-self: center;
    margin-right: 5vw;
}

.nav-link {
    position: relative;
    list-style: none;
    outline: none;
    text-decoration: none;
    padding: 1rem;
    font-size: var(--fs-small);
    font-weight: 900;
    color: var(--light);
}

.underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--accent-1);
}
