.dropdown-menu {
  position: absolute;
  width: min-content;
  height: min-content;
  top: 1.5rem;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: var(--bg-light);
  cursor: pointer;
  font-size: var(--fs-small);
}

.dropdown-menu li:hover {
  background: var(--bg-lighter);
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}