.dropdown-menu {
  position: absolute;
  width: min-content;
  height: min-content;
  top: 1.5rem;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: #999999;
  cursor: pointer;
  font-size: 1.5rem;
}

.dropdown-menu li:hover {
  background: #888888;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}