.nav-button {
  position: fixed;
  z-index: 10;
  color: var(--text-color);
  padding: 0.5rem 0.5rem;
  background: var(--dark);
  border: var(--accent-1) solid;

}

.nav-container {
  margin: 2rem;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-item {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--accent-3);
  font-size: var(--fs-huge);
  background: var(--dark);
  color: inherit;
  font-weight: 900;
  text-shadow:0.5rem 0 var(--accent-1);
  font-style: italic;
}


.nav-link {
  text-decoration: none;
} 

