.nav-container {
  margin: 2rem;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.container {
  margin: 1rem 1.4rem;
}

.container a {
  color: var(--text-color);
  font-size: var(--fs-huge);
  text-decoration: none;
  font-weight: 600;
  display: block;
}

button {
  border-radius: var(--border-radius);
  outline: solid var(--col-accent-3);
  font-weight: lighter;
  height: 3rem;
  width: 3rem;
  color: inherit;
  position: absolute;
}
