.navbar {
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: fixed;
}

.menu-icon { 
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    transform: rotate(-90deg);
}

.nav-menu {
    display: flex;
    justify-content: center;
    position:absolute;
    z-index: 200;
    top: 0;
    background-color: #D3CBBD;
    transform: translateX(-100%);
    transition: transform 850ms ease-out;
    width: 100%;
    height: 100%;
}

.nav-menu.active {
    width: 100%;
    height: 100%;
    right: 0;
    transform: translateX(0);
    
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px 20px 16px;
    list-style: none;
    height: 10vh;
}

.nav-text a {
    text-decoration:none;
    font-size: 3rem;
    padding: 0 2rem;
    transition: 0.3s;
    animation: ease-in-out;
    color: black;
}

.nav-text a:hover {
    transform: scale(1.02);
    background-color: #FFFFFF;
    color: #000000;
    box-shadow: 0.8rem 0.8rem #456F74;
    width: auto;
    height: auto;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


