.menu-icon {
  display: none;
}

.nav-menu {
  display: flex;
  align-content: flex-start;
  align-items: center;
  list-style: none;
  position: relative;
}

.nav-item {
  align-items: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.nav-item:hover {
  border-radius: 4px;
  background-color: #383340;
  transition: all 0.2s ease-out;
  width: min-content;
  height: min-content;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  border-radius: 4px;
  transition: all 0.2s ease-out;
}


