.card-container{
  display: grid;
  width: 100%;
  transition: 0.3s;
  animation: ease-in-out;
  background-color: #FFFFFF;
}

.card-container:hover{
  transform: scale(1.02);
  box-shadow: 0.8rem 0.8rem #00FF00;
}

.image-container img{
  float: left;
  height: 200px;
  margin: 1vh 1vh 1vh 1vh;
}

.card-content{
  margin: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 2rem;
  display: inline;
}

h3,p{
  margin: 0;
  padding: 0;
}

.card-title{
  margin-bottom: 0.5rem;
}


