.form-box{
    min-width: 100%;
    height: 100vh;
    margin-left: 15rem;
    padding: 5vw ;
    position:relative; 
}

.form-box h2{
    margin-block: 2rem;
}

.form-box input, textarea{
    display: block;
    position: initial;
    width: 60vh;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0 ;
    font-size: 20px;
    width: 100vh;
}

.form-box textarea{
    height: 30vh;
}

.submitBtn{
    width: 20%;
    height: 2rem;
    cursor: pointer;
    font-size: 20px;
    position:relative;
    margin: 1rem 1rem 1rem 0;   
    color: #815FF5;
    background-color: #080008;
    transition: 0.3s;
    animation: ease-in-out;
}

.submitBtn:hover{
    transform: scale(1.02);
    background-color: #FFFFFF;
    box-shadow: 0.8rem 0.8rem #00FF00;
}