.form-box{
    min-width: 100%;
    height: 100vh;
    margin-left: 15rem;
    padding: 5vw ;
    position:relative; 
}

.form-box h2{
    margin-block: 2rem;
    font-size: 30px;
}

.form-box input, textarea{
    display: block;
    width: 50%;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0 ;
    border-radius: 10px;
    font-size: 20px;
}

.form-box textarea{
    height: 30vh;
}

.submitBtn{
    width: 20%;
    height: 2rem;
    cursor: pointer;
    font-size: 20px;
    position:relative;
    margin: 1rem 0 1rem 1rem;   
    border-radius: 20px 20px 20px 20px; 
}

.submitBtn:hover{
    background-color: #262626;
    color: white;
    transition: 1s background ease;
}