.navbar {
    height: 8vh;
    display: flex;
    justify-self: start;
    align-items: center;
    color: #FFFFFF;
    background-color: #080008;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
}

.nav-menu {
    width: 40vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%; 
    transition: 850ms;
    color: #FFFFFF;
    background-color:#815FF5;
}

.nav-menu.active {
    left: 0;
    transition: 850ms;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px 20px 16px;
    list-style: none;
    height: 10vh;
}

.nav-text a {
    color: #FFFFFF;
    text-decoration:none;
    font-size: 7vh;
    width: 4em;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
background-color: #4D0098;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.span {
    margin-left: 16px;
}