.navbar {
    display: flex;
    justify-self: start;
    justify-content:start;
    position: fixed;
    background-color: #FFFFFF;
    height: 10vh;
    width: 100%;
    align-items:center;
    border-bottom: 0.3rem solid;
}

.menu-icon {
    width: 80%; 
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

.social-bar {
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
    align-items: baseline; 
  }

.social-icon {
    font-size: 1rem;
    color: black;
  }


.nav-menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position:absolute;
    z-index: 1;
    top: 0;
    left: -100%; 
    transition: 850ms;
    background-color: #FFFFFF;

}

.nav-menu.active {
    left: 0;
    transition: 850ms;
    
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px 20px 16px;
    list-style: none;
    height: 10vh;
    color: black;
    
}

.nav-text a {
    text-decoration:none;
    font-size: 3rem;
    padding: 0 2rem;
    transition: 0.3s;
    animation: ease-in-out;
}

.nav-text a:hover {
    transform: scale(1.02);
    background-color: #FFFFFF;
    color: #000000;
    box-shadow: 0.8rem 0.8rem #456F74;
    width: auto;
    height: auto;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


