.home-text {
    display: flex;
    flex-direction: column;
    font-size: var(--fs-normal);
    margin: 4rem 4rem 4rem 4rem;
    width: 100%;
    line-height: 4rem;
}

.prompt {
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
}

.prompt-name {
    display: flex;
    background: var(--col-accent-1);
    padding: 0 2rem 0 2rem ;
}

.prompt-home {
    display: flex;
    background: var(--col-accent-2);
    padding: 0 2rem 0 2rem ;
}

.response {
    margin: 2rem 1rem;
    line-height: 5rem;
}

.triangle-name {
    width: 0;
    height: 0;
    border-left: var(--fs-normal) solid var(--col-accent-1);
    border-bottom: var(--fs-normal) solid transparent;
    border-top: var(--fs-normal) solid transparent;
    background-color: var(--col-accent-2);
}

.triangle-home {
    width: 0;
    height: 0;
    border-left: var(--fs-normal) solid var(--col-accent-2);
    border-bottom: var(--fs-normal) solid transparent;
    border-top: var(--fs-normal) solid transparent;
    margin-right: 1.5rem;
}
