.home-text {
    display: flex;
    flex-direction: column;
    font-size: var(--fs-normal);
    margin: 4rem 4rem 4rem 4rem;
    width: 100%;
}

.prompt {
    display: flex;
    font-weight: bold;
    background: var(--col-accent-3);
    background-color: var(--bg-darker);
    margin-top: 2rem;
}

.triangle {
    border-left: var(--fs-normal) solid var(--col-accent-3);
    border-bottom: var(--fs-normal) solid transparent;
    border-top: var(--fs-normal) solid transparent;
}

.prompt-text {
    display: flex;
    background: var(--col-accent-3);
    padding: 0 2rem 0 2rem ;
}

.command {
    margin-left: 2rem;
}

.response {
    margin-top: 2rem;
}



