.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    color: var(--text-color)
}

.card {
    background: var(--bg-middle);
    border: solid var(--bg-dark);
    width: 15vw;
    height: 15vw;
    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: var(--border-radius);
}

.link {
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}

.card-header {
    font-size: var(--fs-small);
    font-weight: bolder;
    margin-bottom: 1.5rem;
}

.card-text {
    font-size: var(--fs-tiny);
    margin-bottom: 1rem;
}

.card-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.framework {
    font-size: var(--fs-tiny);
    font-weight: lighter;
    color: var(--col-accent-3);

}