.card-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5rem;
    gap: 2rem;
    margin-bottom: 5rem;
    border-radius: var(--border-radius);
    justify-content: center;
}

.card {
    display: flex;
    padding: 2vw;
    width: 12rem;
    list-style: none;
    border-radius: var(--border-radius);
    background: var(--dark);
    box-shadow: 0.5rem 0.5rem var(--darker); 
}

.link {
    text-decoration: none;
}

.card-header {
    font-size: var(--fs-normal);
    color: var(--accent-2);
    font-weight: bolder;
    margin-bottom: 1.5rem;
    width: 100%;
}

.card-text {
    font-size: var(--fs-normal);
    margin-bottom: 1rem;
    color: var(--darker);
}

.framework {
    font-size: var(--fs-normal);
    font-weight: lighter;
    color: var(--accent-1);

}
