.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 2vh;
}

.card {
    list-style: none;
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--grey-80);
    overflow: hidden;
    background: hsla(0,0%,100%,.035);
    box-shadow: inset 6px 84px 79px -40px hsla(0,0%,100%,.025),inset 0 -4px 1px -3px hsla(0,0%,100%,.25),inset 0 4px 1px -3px hsla(0,0%,100%,.25);
}

.card-icon {
    display: flex;
    align-self: center;
    color: var(--grey-00);
}

.card-header {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: inherit;
    font-size: var(--fs-big);
    color: var(--grey-00);
}

.card-text {
    font-size: var(--fs-small);
    text-align: left;
    border-top: var(--lines) solid var(--grey-80);
}

@media(min-width: 320px){
    .card-container {
        width: 80vw;
        gap: 10vw;
    }

    .card {
        max-width: 80vw;
    }

    .card-icon {
        font-size: 80vw;
    }

    .card-header {
        padding: 10vw 10vw 5vw 10vw;
    }

    .card-text {
        padding: 5vw 10vw 5vw 10vw;
    }
}

@media(min-width: 480px){
    .card-container {
        width: 80vw;
        gap: 10vw;
    }

    .card {
        max-width: 35vw;
    }
    .card-icon {
        font-size: 35vw;
    }

    .card-header {
        padding: 2vw 2vw 1vw 2vw;
    }

    .card-text {
        padding: 1vw 2vw 1vw 2vw;
    }
}

@media(min-width: 768px){
    .card-container {
        width: 60vw;
        column-gap: 10vw;
        gap: 10vw;
    }

    .card {
        max-width: 25vw;
    }

    .card-icon {
        font-size: 25vw;
    }

    .card-header {
        padding: 2vw 2vw 1vw 2vw;
    }

    .card-text {
        padding: 1vw 2vw 1vw 2vw;
    }
}

@media(min-width: 1024px){
    .card-container {
        width: 60vw;
        gap: 4.5vw;
    }

    .card {
        max-width: 16vw;
    }

    .card-icon {
        font-size: 16vw;
    }

    .card-header {
        padding: 2vw 2vw 1vw 2vw;
    }

    .card-text {
        padding: 1vw 2vw 1vw 2vw;
    }
}

@media(min-width: 1200px){
    .card-container {
        width: 60vw;
        column-gap: 5vw;
        gap: 4.5vw;
    }

    .card {
        max-width: 16vw;
    }

    .card-icon {
        font-size: 16vw;
    }

    .card-header {
        padding: 2vw 2vw 1vw 2vw;
    }

    .card-text {
        padding: 1vw 2vw 1vw 2vw;
    }
}
