.card-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5rem;
    gap: 2rem;
    justify-content: flex-start;
    margin-bottom: 5rem;
}

.card {
    display: flex;
    padding: 2rem;
    width: 14rem;
    list-style: none;
    border-radius: var(--border-radius);
    background: var(--dark);
}

.link {
    text-decoration: none;
}

.card-header {
    font-size: var(--fs-small);
    font-family: "SuisseWorks-Book"; 
    color: var(--accent-2);
    margin-bottom: 1.5rem;
    width: 100%;
}

.card-text {
    font-size: var(--fs-tiny);
    font-family: "SuisseIntl-Thin";
    margin-bottom: 1rem;
    color: var(--text-color);
}

.framework {
    font-size: var(--fs-tiny);
    font-weight: lighter;
    color: var(--accent-1);

}
