.list-container {
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 0 var(--text-pad);
  margin-bottom: 1vh;
  border-radius: var(--border-radius);
}

.list-title {
  font-size: var(--fs-normal);
  font-family: SuisseIntlMono-Regular;
  margin-top: var(--text-pad);
}

.tags-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.list-tags {
  list-style-type: none;
  font-family: SuisseIntlMono-Light;
  font-size: var(--fs-small);
  padding: 0 0.75vw 0 0.75vw;
  border-radius: var(--border-radius);
  border: solid var(--highlight-1);
}

@media(max-width: 767px){
  .list-item {
    width: 100%;
  }
}

@media(min-width: 768px){

  .list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35%, 1fr));
    gap: var(--fs-big);
  }

  .list-item {
  }
}

