.list-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--fs-normal);
}

.list-item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: var(--text-pad);
  background-color: var(--primary-dark);
  border-radius: var(--border-radius);
  width: 100%;
}

.list-title {
  font-size: var(--fs-normal);
  font-family: SuisseIntlMono-Light;
  margin-top: var(--text-pad);
}

.tags-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.list-tags {
  list-style-type: none;
  font-family: SuisseIntlMono-Light;
  font-size: var(--fs-small);
  padding: 0 1rem 0 1rem;
  border-radius: var(--border-radius);
  border: solid var(--highlight-1);
}
