.project-wrapper {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  background-image: linear-gradient(var(--primary-darkest),var(--grey-100));
  border-radius: var(--border-radius);
  padding: var(--text-pad);
}

.project-text {
  margin-top: var(--text-pad);
  padding: var(--text-pad) 0 var(--text-pad) 0;
  border-top: var(--lines) solid var(--grey-00);
}
