.project-wrapper {
  width: var(--medium-content-width);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(0deg,var(--grey-100),var(--primary-darkest));
  border-radius: var(--border-radius);
  padding: var(--text-pad);
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-text {
  margin-top: var(--text-pad);
  padding: var(--text-pad) 0 var(--text-pad) 0;
  border-top: var(--lines) solid var(--grey-00);
}
