@font-face {
  font-family: 'SuissIntlMono-Bold';
  src: local('SuissIntlMono-Bold'),
   url('./assets/fonts/SuisseIntlMono/SuisseIntlMono-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SuissIntlMono-Regular';
  src: local('SuissIntlMono-Regular'),
   url('./assets/fonts/SuisseIntlMono/SuisseIntlMono-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SuissIntlMono-Light';
  src: local('SuissIntlMono-Light'),
   url('./assets/fonts/SuisseIntlMono/SuisseIntlMono-Light.otf') format('opentype');
}

body {
  position: absolute;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SuissIntlMono-Light';  
  overflow: hidden;
}

:root {
  --bg-darker: #0C0C0D;
  --bg-dark: #2A2A2A;
  --bg-middle: #2F3036;
  --bg-light: #727585;
  --bg-lighter: #B1B5CC;
  --col-accent-1: #E994FA;
  --col-accent-2: #B3B2FE;
  --col-accent-3: #6AD1ED;
  --text-color: #FFFFFF;
  --fs-big: 3rem;
  --fs-normal: 2rem;
  --fs-small: 1.5rem;
  --fs-tiny: 1rem;
  --border-radius: 5px; 
}

::-webkit-scrollbar{
  display: none;
}



