@font-face {
  font-family: 'SuissIntlMono-Bold';
  src: local('SuissIntlMono-Bold'),
   url('./assets/fonts/SuisseIntlMono/SuisseIntlMono-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SuissIntlMono-Regular';
  src: local('SuissIntlMono-Regular'),
   url('./assets/fonts/SuisseIntlMono/SuisseIntlMono-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SuissIntlMono-Light';
  src: local('SuissIntlMono-Light'),
   url('./assets/fonts/SuisseIntlMono/SuisseIntlMono-Light.otf') format('opentype');
}

:root {
  --darker: #000000;
  --dark: #110126;
  --middle: #010440;
  --accent-1: #A60321;
  --accent-2: #F20505;
  --accent-3: #05F2DB;
  --text-color: #F2E7DC;
  --fs-huge: 10rem;
  --fs-big: 5rem;
  --fs-normal: 3rem;
  --fs-small: 1.5rem;
  --fs-tiny: 1rem;
}

::-webkit-scrollbar{
  display: none;
}

* {
  box-sizing: border-box;
  font-family: 'SuissIntlMono-Bold';  
  font-weight: 600;
  font-style: italic;
  background: var(--darker);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, #000, var(--dark), var(--middle));
  color: var(--text-color);
  margin-bottom: 5vh;
}

h1 {
  font-size: var(--fs-huge);
  color: var(--accent-2)
}

h2 {
  font-size: var(--fs-normal);
  font-weight: light;
  color: var(--text-color);
  line-height: 2rem;
}